<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>BooleanVue - ToDoList</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <header class="ivy_header">
            <nav class="ivy_navbar"></nav>
        </header>
        <main class="ivy_main">
            <ul v-if="toDoList.length > 0" class="ivy_todolist" >
                <li v-for="(item, index) in toDoList" class="ivy_todoitem">
                    <p :class="toDoList[index].done ? 'done' : ''"> {{ toDoList[index].toDo }}</p>
                    <div class="ivy_command_box">
                        <i v-if="toDoList[index].done" class="fa-solid fa-check" @click="doneUndone(index)"></i>
                        <i v-else class="fa-solid fa-clipboard-check" @click="doneUndone(index)"></i>
                        <i class="fa-regular fa-trash-can" @click="deleteItem(index)"></i>
                    </div>
                </li>
            </ul>
            <ul v-else class="ivy_todolist">
                <li class="ivy_todoitem">
                    <p>Start organizing your tasks!</p>
                </li>
            </ul>
            <div class="ivy_additem">
                <input type="text" v-model="newTask" placeholder="Write your next task!" @keyup.enter="addItem()">
                <button @click="addItem()">Add new task</button>
            </div>
        </main>
        
    </div>
    <script src="script.js"></script>
</body>
</html>